h2{
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.05em;
    color: #191919;

}

h3{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.05em;
    color: #191919;

}

h4{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.05em;
    color: #191919;

}

h5{
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.05em;
    color: #191919;

}

h6{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.05em;
    color: #191919;
}

.wrap{
    position: relative;
    background: url(../img/background/back.png) no-repeat center / cover;
}

.mob_wrap{
    max-width: 402px;
    margin: 0 auto;
    background-color: #fff;
}
