@import url(reset.css);
@import url(common.css);

.mob_wrap{
    max-width: 402px;
    margin: 0 auto;
    background-color: #fff;
}

header{
    padding: 0px 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header_end */

.sec_1{
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper .swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  border-radius: 0px;
  background: #dcdcdc;
}

.swiper .swiper-pagination-bullet-active {
  background: #ffffff;
}

.sec_1 .swiper .swiper-pagination-bullets {
    position: absolute;
    bottom: 40px;
    left: 20px;
    width: 50%;
}

.sec_1_gradi{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 18.63%, rgba(25, 25, 25, 0.67) 100%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.title_wrap_1{
    position: absolute;
    bottom: 90px;
    left: 27px;
    text-align: start;
}

.title_wrap_1 h3{
    color: #fff;
}

.title_wrap_1 h6{
    color: #fff;
    opacity: 0.5;
    font-size: 16px;
    padding-top: 20px;
    font-weight: 400;
}
/* sec_1 end */

.sec_2{
    padding: 140px 10px 200px 10px;
    position: relative;
}

.title_wrap_2{
    text-align: center;
    margin-bottom: 70px;
    font-size: 16px;
}

.title_wrap_2 p{
    margin-top: 30px;
    font-weight: 500;
    color: #19191998;
}

.blue_point{
    font-size: 18px;
    font-weight: 700;
    color: #007DC6;
}


.btn a{
    position: absolute;
    left: 50%;
    bottom: 120px;
    z-index: 10;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;          
    height: 60px;
    padding: 20px 40px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 5px 1px rgba(63, 63, 63, 0.1);
    border-radius: 100px;
}

.arrow_right{
    margin-top: 6px;
}

.bg_2{
    position: absolute;
    left: 0;
    top: 0;
}

/* sec_2 end */

.sec_3{
    padding: 10px;
}

.con_3{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 6px;
    padding: 20px;
}

.product_wrap{
    margin-top: 30px;
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}
    
.product{
    margin-top: 10px;
    border: 1px solid #ffffff60;
    border-radius: 50px;
    cursor: pointer;
    padding: 12px 40px;
}

.product a{
    font-size: 16px;
    font-weight: 500;
    color: #A6D0F0;
}

.con_3_1{
    padding-top: 50px;
    height: 450px;
    background: url(../img/sec_3/con_1.png) no-repeat center / cover;
}


.con_3_2{
    padding-left: 40px;
    padding-top: 50px;
    height: 220px;
    background: url(../img/sec_3/con_2.png) no-repeat center / cover;
}

.con_3_3{
    padding-left: 40px;
    padding-top: 50px;
    height: 220px;
    background: url(../img/sec_3/con_3.png) no-repeat center / cover;
}

.con_3 h4{
    color: #fff;
    margin-bottom: 15px;
}

.con_3 p{
    font-size: 15px;
    font-weight: 300;
    color: #ffffff60;
}

.white_point{
    font-size: 17px;
    font-weight: 400;
    color: #ffffffa1;
}

/* sec_3 end */

.sec_4{
    position: relative;
    padding: 140px 10px 200px 10px;
}

.sec_4 p{
    margin-bottom: 30px;
}

.sec_4 .blue_point{
    font-size: 30px;
    font-weight: 700;
    color: #007DC6;
}

.bg_4{
    position: absolute;
    right: 0;
    top: 20px;
}

.sec_4 .btn a{
    position: absolute;
    bottom: 120px;
}

/* sec_4 end */

.sec_5{
    padding-left: 20px;
}

.sec_5_title{
    margin-bottom: 50px;
}

.con_title_wrap_5{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.title_5{
    display: flex;
    align-items: end;
    margin-bottom: 30px;
}

.title_5 h6{
    color: #1919195b;
}

.under_bar{
    width: 100px;
    height: 3px;
    background-color: #191919;
    opacity: 0.15;
    margin-bottom: 3px;
    margin-left: 15px;
}

.title_5 h6.active_color{
    font-weight: 700;
    color: #007DC6;
}

.active_bar{
    background-color: #007DC6;
    opacity: 1;
}

.con_wrap_5 .active_none{
    display: none;
}

.con_5{
    position: relative;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    background-color: #f8F8F8;
}

.con_5 img{
    height: 55%;
}

.con_5 h6{
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 17px;
    text-align: start;
    font-weight: 700;
}

.con_5 .time{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 13px;
    opacity: 0.7;
}

/* sec_5 end */