@import url(reset.css);
@import url(common.css);


header{
    padding: 0px 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    width: 80px;
}

/* header_end */

.ham{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 20;
    background-color: #004A8F;
    transition: 0.3s;
}

.ham_head{
    padding: 0px 20px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.lang_icon{
    margin-top: 7px;
}

.lang h6{
    font-size: 16px;
    margin-right: 2px;
}

.lang_arrow{
    margin-bottom: 5px;
}

.exit{
    margin-top: 3px;
}

.ham_body{
    padding: 30px 20px;
}

.ham_title{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
}

.ham_title h5{
    color: #fff;
}

.ham_title ul{
    margin-top: 5px;
    display: none;
}

.ham_title ul.active_ul{
    display: block;
}

.ham_cate{
    padding-left: 20px;
}

.ham_cate a {
    color: #FFFFFF;
    opacity: 0.8;
    font-weight: 300;
    font-size: 18px;
}

.ham_arrow{
    margin-top: 10px;
    transition: 0.3s;
}

.ham_arrow.active_arrow{
    transform: rotate(180deg);
}

.ham_foot{
    padding: 0px 20px;
}

.ham_menu_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
}

.ham_menu a{
    color: #ffffff;
    width: 100%;
    height: 50px;
    background-color: #ffffff28;
    border-radius: 50px;
    padding: 5px 15px;
}

.origin_active{
    right: 0;
}

.right_active{
    right: -100%;
}

/* ham end */

.sec_1{
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec_1 .swiper .swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  border-radius: 0px;
  background: #dcdcdc;
}

.sec_1 .swiper .swiper-pagination-bullet-active {
  background: #ffffff;
}

.sec_1 .swiper .swiper-pagination-bullets {
    position: absolute;
    bottom: 40px;
    left: 20px;
    width: 100%;
    text-align: start;
}

.sec_1_gradi{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 18.63%, rgba(25, 25, 25, 0.67) 100%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.title_wrap_1{
    position: absolute;
    bottom: 90px;
    left: 27px;
    text-align: start;
}

.title_wrap_1 h3{
    color: #fff;
}

.title_wrap_1 h6{
    color: #fff;
    opacity: 0.5;
    font-size: 16px;
    padding-top: 20px;
    font-weight: 400;
}
/* sec_1 end */

.sec_2{
    padding: 140px 10px 200px 10px;
    position: relative;
}

.title_wrap_2{
    text-align: center;
    margin-bottom: 70px;
    font-size: 16px;
}

.title_wrap_2 p{
    margin-top: 30px;
    font-weight: 500;
    color: #19191998;
}

.blue_point{
    font-size: 18px;
    font-weight: 700;
    color: #007DC6;
}


.btn a{
    position: absolute;
    left: 50%;
    bottom: 120px;
    z-index: 10;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;          
    height: 60px;
    padding: 20px 40px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 5px 1px rgba(63, 63, 63, 0.1);
    border-radius: 100px;
}

.arrow_right{
    margin-top: 6px;
}

.bg_2{
    position: absolute;
    left: 0;
    top: 0;
}

/* sec_2 end */

.sec_3{
    padding: 10px;
}

.con_3{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 6px;
    padding: 20px;
}

.product_wrap{
    margin-top: 30px;
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}
    
.product{
    margin-top: 10px;
    border: 1px solid #ffffff60;
    border-radius: 50px;
    cursor: pointer;
    padding: 12px 40px;
}

.product a{
    font-size: 16px;
    font-weight: 500;
    color: #A6D0F0;
}

.con_3_1{
    padding-top: 50px;
    height: 450px;
    background: url(../img/sec_3/con_1.png) no-repeat center / cover;
}


.con_3_2{
    padding-left: 40px;
    padding-top: 50px;
    height: 220px;
    background: url(../img/sec_3/con_2.png) no-repeat center / cover;
}

.con_3_3{
    padding-left: 40px;
    padding-top: 50px;
    height: 220px;
    background: url(../img/sec_3/con_3.png) no-repeat center / cover;
}

.con_3 h4{
    color: #fff;
    margin-bottom: 15px;
}

.con_3 p{
    font-size: 15px;
    font-weight: 300;
    color: #ffffff60;
}

.white_point{
    font-size: 17px;
    font-weight: 400;
    color: #ffffffa1;
}

/* sec_3 end */

.sec_4{
    position: relative;
    padding: 140px 10px 200px 10px;
}

.sec_4 p{
    margin-bottom: 30px;
}

.sec_4 .blue_point{
    font-size: 30px;
    font-weight: 700;
    color: #007DC6;
}

.bg_4{
    position: absolute;
    right: 0;
    top: 20px;
}

.sec_4 .btn a{
    position: absolute;
    bottom: 120px;
}

/* sec_4 end */

.sec_5{
    padding-left: 20px;
}

.sec_5_title{
    margin-bottom: 50px;
}

.con_title_wrap_5{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.title_5{
    display: flex;
    align-items: end;
    margin-bottom: 30px;
}

.title_5 h6{
    color: #1919195b;
}

.under_bar{
    width: 100px;
    height: 3px;
    background-color: #191919;
    opacity: 0.15;
    margin-bottom: 3px;
    margin-left: 15px;
}

.title_5 h6.active_color{
    font-weight: 700;
    color: #007DC6;
}

.active_bar{
    background-color: #007DC6;
    opacity: 1;
}

.con_wrap_5 .active_none{
    display: none;
}

.con_5{
    position: relative;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f8F8F8;
}

.con_5 img{
    height: 55%;
}

.con_5 h6{
    position: absolute;
    top: 210px;
    left: 20px;
    font-size: 17px;
    text-align: start;
    font-weight: 700;
}

.con_5 .time{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 13px;
    opacity: 0.7;
}

/* sec_5 end */

.sec_6{
    width: 100%;
    padding: 140px 20px;
    position: relative;
}

.video_6{
    width: 100%;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.video_6 video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.sec_6_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, rgba(25, 25, 25, 0.5) 100%);
    backdrop-filter: blur(2px);
}

.sec_6_logo{
    width: 120px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}

.sec_6_bar{
    width: 100px;
    height: 3px;
    background-color: #f8F8F8;
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
}

.sec_6_con{
    font-size: 16px;
    color: #f8F8F8;
    opacity: 0.5;
    width: 100%;
    position: absolute;
    bottom: 260px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.sec_6 .btn a{
    position: absolute;
    left: 50%;
    bottom: 120px;
    z-index: 10;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;          
    height: 60px;
    padding: 20px 40px;
    background: #ffffff00;
    border: 2px solid #ffffff60;
    box-shadow: inset 0px 0px 5px 1px rgba(63, 63, 63, 0.1);
    border-radius: 100px;
}

.sec_6 .btn h6{
    color: #fff;
    margin-left: 10px;
}
/* sec_6 end */

.logo_f{
    width: 120px;
    margin: 0 auto;
}

.con_wrap_f{
    margin-top: 50px;
    padding: 20px;
}

.con_f{
    height: 40px;
    border-bottom: 1px solid #19191913;
    margin-bottom: 30px;
}

.con_f a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con_f h6{
    color: #19191998;
}

.footer_wrap{
    padding: 50px 20px;
    color: #f8F8F8;
    background-color: #004A8F;
}

.cate_wrap{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.cate_wrap h5{
    color: #f8F8F8;
    font-size: 16px;
    font-weight: 400;
}

.cate_wrap h6{
    color: #f8F8F8;
    font-size: 16px;
    font-weight: 300;
}

.loca{
    font-size: 15px;
    color: #f8f8f8;
    font-weight: 200;
    margin-bottom: 90px;
}

.family{
    width: 180px;
    height: 50px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #ffffff60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.family h6{
    font-size: 15px;
    color: #f8F8F8;
    font-weight: 300;
}

.up_arrow{
    margin-bottom: 2px;
}

.copyright{
    font-size: 13px;
    color: #F0F0F0;
}

/* mob_wrap end */

.right_con{
    width: 350px;
    height: 570px;
    position: fixed;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}

.con_wrap_r{
    position: relative;
}

.con_r_title{
    text-align: start;
    margin-bottom: 20px;
}

.con_r_title h4{
    color: #007DC6;
    margin-bottom: 2px;
}
.con_r_title h6{
    color: #19191998;
}

.right_con .swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #dddddd7c;
    opacity: 1;
}

.right_con .swiper .swiper-pagination-bullet-active {
    background: #bba4fa;
    opacity: 1;
}

.right_con .swiper .swiper-pagination-bullets {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.btn_r a{
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    padding: 10px 100px;
    background-color: #007DC6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_r h6{
    color: #f8F8F8;
}

.arrow_r{
    margin-top: 7px;
}
/* right_con end */
@media screen and (max-width:1650px){
    .right_con{
        right: 100px;
    }
    
}

@media screen and (max-width:1420px){
    .right_con{
        display: none;
    }
    
}
/* media end */

.left_con{
    width: 350px;
    height: 570px;
    position: fixed;
    left: 200px;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
}

.ellipse{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.left_title{
    position: absolute;
    top: 130px;
    left: 100px;
    font-size: 20px;
    color: #007dc6d5;
}

.jw{
    font-size: 23px;
    font-weight: 600;
    color: #007DC6;
}

.left_bar{
    position: absolute;
    right: 20px;
    top: 186px;
    width: 40px;
    height: 3px;
    background-color: #ffffff;
}
/* left end */

@media screen and (max-width:1650px){
    .left_con{
        left: 100px;
    }

}

@media screen and (max-width:1420px){
    .left_con{
        display: none;
    }

}
/* media end */


